.test {
  margin-right: 10px;
}

TableCell {
  text-align: right;
}

.img-icon {
  height: 16px;
  cursor: pointer;
}

.MuiFormControlLabel-root {
  justify-content: space-between;
  margin-left: 0px;
}
