@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Amiri, Roboto, "Helvetica Neue", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

svg {
  font-size: 12px;
}

div.vizTooltip {
  position: absolute;
  padding: 5px;
  font: 12px sans-serif;
  background: black;
  color: grey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tick line {
  stroke: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 5, 5;
}

.domain {
  stroke-width: 3;
  stroke: #ffcc66;
}

.connection {
  fill: none;
}

.bar {
  stroke: red;
}

.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: 0.165;
}

.brush .overlay {
  cursor: auto !important;
}

.max-reference-lines {
  stroke-width: 5;
  stroke: black;
}

.dotted-bar-lines {
  stroke-dasharray: 3 6;
  stroke: red;
}

:root {
  --added-color: lightgreen;
  --removed-color: lightblue;
  --common-color: transparent;
  --moved-color: PaleGoldenrod;
}
.added {
  background-color: var(--added-color);
  border-radius: 3px;
}
.removed {
  background-color: var(--removed-color);
  border-radius: 3px;
}
.common {
  background-color: var(--common-color);
  border-radius: 3px;
}
.moved {
  background-color: var(--moved-color);
  border-radius: 3px;
}

#cDiff {
  font-size: var(--ar-chars-font-size);
  font-family: "Amiri", sans-serif;
  /*margin: 0 auto;*/
  margin-top: 10;
  display: none;
  direction: rtl;
}
.wikEdDiffFragment,
.wikEdDiffDelete,
.wikEdDiffInsert,
.wikEdDiffBlock,
.wikEdDiffContainer {
  font-size: var(--ar-chars-font-size);
  font-family: "Amiri", sans-serif !important;
  line-height: 38px;
}
.wikEdDiffInsert {
  background-color: lightgreen !important;
}
.wikEdDiffDelete {
  background-color: lightblue !important;
}
.wikEdDiffBlock,
.wikEdDiffMarkLeft,
.wikEdDiffMarkRight {
  background-color: PaleGoldenrod !important;
}
.num-input {
  width: 40px;
  border: solid 1px lightgrey;
  direction: rtl;
}

.loaderIcon {
  animation: circle 1s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.MuiDrawer-paper {
  /* Hide vertical scrollbar */
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

.MuiDrawer-paper::-webkit-scrollbar {
  width: 0 !important; /* Chrome, Safari, and Opera */
}

.bookContents {
  /* Hide vertical scrollbar */
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

.bookContents::-webkit-scrollbar {
  width: 0 !important; /* Chrome, Safari, and Opera */
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.difftext {
  font-family: "Courier";
}

.diffTableCell {
  /*vertical-align: bottom!important;*/
  border-style: hidden !important;
}
.diffHeaderCell {
  background-color: #f0f0f5 !important;
}
.diffTableCell:first-child {
  border-right: solid 1px lightgrey !important;
}
.diffTableBody > tr:nth-child(2) > td {
  vertical-align: bottom !important;
}
.diffTableBody > tr:nth-last-child(2) > td {
  vertical-align: top !important;
}
.msNo {
  text-align: center;
  font-size: 14px;
  color: #059669;
}
.pageNo {
  text-align: center;
  font-size: 14px;
  color: #059669;
}

@media screen and (max-width: 480px) {
  .bar-label {
    font-size: 12px;
  }
}

